<%= render 'shared/navbar_two' %>


<h2 id = "title-login">Sign up</h2>
<div class="card-container">
 <div class="row">
  <div class=".col-md-3 .ml-md-auto" id = "single">

    <div class = "form_four">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
       <ul class = "list-inline">
        <li> <%= f.input :first_name,
        required: true,
        autofocus: true ,
        input_html: { autocomplete: "first_name" }%></li>
        <li> <%= f.input :last_name,
        required: true,
        autofocus: true ,
        input_html: { autocomplete: "last_name" }%></li>
        </ul>

        <%= f.input :phone_number,
        required: true,
        autofocus: true ,
        input_html: { autocomplete: "phone_number" }%>
        <%= f.input :email,
        required: true,
        autofocus: true ,
        input_html: { autocomplete: "email" }%>
        <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" } %>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn-park", id: "bo" %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class = "links_two">
<%= render "devise/shared/links" %>
</div>
