<%= render 'shared/navbar_two' %>


<h1 id = "list"> List your parking space </h1>
<div class="card-container">

  <div class="row">
    <div class=".col-md-3 .ml-md-auto">
      <div class = "form_two" >
        <%= simple_form_for @space do |f| %>
        <%= f.input :title %>
        <%= f.input :address %>
        <%= f.input :description %>
        <!-- Maybe have slider for adjusting amount? -->
        <%= f.input :half_hour_rate %>
        <!-- Needs to be boolean -->
        <%= f.input :availability, label: "Available" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Create Your Parking Space", class: "btn-park"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Need to include image upload eventually -->
