<%= render 'shared/navbar_two' %>
<div class="content">

  <div class="card-container">
   <div class="row">
    <div class="col-xs-6 col-md-4" id = "single">
        <h1> Title: <%= @space.title %> </h1>
        <p> Address: <%= @space.address %></p>
        <p> Description: <%= @space.description %></p>
         <p> 30 mins rate:<%= @space.half_hour_rate %></p>
    </div>
  </div>
</div>


  <div id="map"
   style="width: 100%;
   height: 600px;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


</div>

  <!-- Need to include images eventually -->

  <!-- Need to add link to booking once route is known -->

  <!-- Or create a div with 'class=btn btn-primary' nested within link_to -->
 <div class = "links">
  <p><%= link_to "Edit listing", edit_space_path(@space) %></p>
  <p><%= link_to space_path(@space),
        method: :delete,
        data: {confirm: "Are you sure?"} do %>
        <p>Delete this listing</p>
        <% end %></p>
        </div>

 <!-- <div id="map"><%= cl_image_tag("map.jpg") %></div> -->
