<%= render 'shared/navbar_two' %>
<div class="content">

  <div class="card-container">
   <div class="row">
    <div class="col-xs-6 col-md-4" >
      <div id = "single">
        <h1> <%= @space.title %> </h1>
        <p> <%= @space.address %></p>
        <p> <%= @space.description %></p>
        <p id = "bu" ><%= @space.half_hour_rate %> RMB / 30 min</p>

        <div class="show-image"><%= cl_image_tag @space.photo, height: 280, width: 280, crop: :fill %></div>
        <br>
        <br>
         <%= link_to "Book" , new_space_booking_path(@space), class: "btn-park", id: "tu" %>
      </div>
    </div>
  </div>
</div>


  <div id="map"
   style="width: 100%;
   height: 600px; margin-top: 20px;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


</div>


<div class = "links">
  <% if policy(@space).edit? %>
    <%= link_to "Edit listing", edit_space_path(@space) %>
  <% end %>
  <% if policy(@space).destroy? %>
    <%= link_to space_path(@space),
    method: :delete,
    data: {confirm: "Are you sure?"} do %>
    <p>Delete this listing</p>
    <% end %>
  <% end %>
</div>

