<%= render 'shared/navbar_two' %>

<div class="bks-wrapper">
  <div class="bks-content">
    <div class="bks-card-container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">

            <div class="bks-col-left">

              <h2 class="bk-h2">Bookings MADE</h2>

                    <% @bookings_made.each do |booking| %>
                      <%= link_to booking_path(booking) do %>

                          <div class="bks-card-made">

                            <div class=row>

                              <div class="col-xs-6">

                                  <div class="bks-card-left">

                                      <h3 class="bk-h3"><%= booking.space.title %></h3>
                                      <p style="color:red"><strong><%= booking.total_price %> RMB</strong></p>
                                  </div>


                              </div>

                            </div>


                            <div class="row">

                              <div class="col-xs-4">

                                  <div class="bks-card-right">
                                      <p><%= booking.start_datetime.strftime('%A %b %e')%> at <%= booking.start_datetime.strftime('%R')%></p>
                                      <p><strong>TO</strong></p>
                                      <p><%= booking.end_datetime.strftime('%A %b %e')%> at <%= booking.end_datetime.strftime('%R')%></p>

                                  </div>

                              </div>
                            </div>


                          </div>


                      <% end %>
                    <% end %>

            </div>
        </div>
                    <!-- -------------------------------------------------- -->

          <div class="col-xs-12 col-sm-6">

            <div class="bks-col-right">

                    <h2 class="bk-h2">Bookings RECEIVED</h2>

                    <% @bookings_received.each do |booking| %>
                      <%= link_to booking_path(booking) do %>

                        <div class="bks-card-recd">

                            <div class="row">

                              <div class="col-xs-8">

                                <div class="bks-card-left">
                                  <h3 class="bk-h3"><%= booking.space.title %></h3>
                                  <p>Booked by <%= booking.user.first_name %> <%= booking.user.last_name %> </p>
                                  <p style="color:green"><strong><%= booking.total_price %> RMB</strong></p>
                                </div>

                              </div>

                            </div>

                            <div class="row">

                              <div class="col-xs-4">


                                <div class="bks-card-right">
                                  <p><%= booking.start_datetime.strftime('%A %b %e')%> at <%= booking.start_datetime.strftime('%R')%></p>
                                  <p><strong>TO</strong></p>
                                  <p><%= booking.end_datetime.strftime('%A %b %e')%> at <%= booking.end_datetime.strftime('%R')%></p>

                                </div>

                              </div>

                            </div>


                        </div>
                      <% end %>
                    <% end %>

            </div>
          </div>


      </div>
    </div>

  </div>
</div>
