<div class = "container">
  <%= render 'shared/navbar' %>
  <div class="home-banner" style= "background-image: url('<%= cl_image_path 'matt-jones-94160-unsplash_EDIT.jpg' %>');">
     <h1 id = "po" ><span id="banner-typed-text"></span></h1>

      <div class = "whole">
     <div class = "form" >
      <%= simple_form_for "", :url => spaces_path, :method => :get do |f| %>
        <%= f.input :space_address, as: :string, label: '' %>
        <%= f.submit "Find", class: "btn-park" %>
      <% end %>
    </div>
    </div>
  </div>


</div>

    <div class="foot-land" style= "width: 100%" >
      <%= render 'shared/footer' %>
    </div>

